<h1> Sobre nós</h1>

<p>SEJA UM VOLUNTÁRIO!
A Ação Comunitária tem como missão fortalecer a identidade e o carisma lassalistas, para que em tudo estejam presentes os princípios de FÉ, FRATERNIDADE E SERVIÇO: FÉ ao enxergarmos Deus vivo em cada irmão. FRATERNIDADE quando vivenciamos a partilha e a presença em comunidade, que somos. SERVIÇO quando colocamos em prática todos os nossos planos e sonhos, tentando juntos, alunos, colaboradores, egressos e famílias construir uma sociedade mais justa e igualitária.
</p>
<br>
<p>Tá, ok! E o que você pode fazer de concreto? Ser voluntari@ com crianças, adolescentes, dar aulas para a comunidade, trabalhos com música e arte, coordenar oficinas e os projetos, fazer cursos de liderança e participar de atividades relacionadas à espiritualidade e religiosidade. Sabe aquela ideia sobre melhorar as coisas? Sobre tornar o mundo um lugar um pouco melhor? Aqui a gente vai te ajudar a encontrar o COMO! Encontrar maneiras de sonhar e AGIR. VEM LOGO!
</p>

