<div class="jumbotron">
<h1>Projetos</h1>     
    <%= link_to  "Criar Projeto", new_post_path, :class => 'btn btn-primary' %>       
</div>
<% @posts.each do |post| %>
	<div class="jumbotron">
		<h3><%= post.title %></h3>
		<p><%= post.body %></p>
		<%= link_to "Show", post_path(post), :class => 'btn btn-primary'%>
	</div>
<% end %>
